<div class="card shadow-sm mb-3">
  <div class="card-body p-4">
    <%# <% if @events.present? %> %>
      <%= month_calendar(events: @events) do |date| %>
        <div class="day">
          <%= date %>
        </div>

      <% end %>

  </div>
</div>