<% if @sales_trend.present? %>
  <div class="card shadow-sm mb-3">
    <div class="card-body p-4">
      <h6 class="flex-grow-1">売上推移</h6>
      <p><%= area_chart @sales_trend , suffix: "円", thousands: ",", colors: [make_color] %></p>
    </div>
  </div>
<% end %>