<% if @no_result.present? %>
  <p><%= @no_result %></p>
<% end %>
<div class="row d-flex">
  <div class="col-md-8 col-lg-6 col-xl-4">
    <div class="card shadow-sm mb-3" style="height: 300px;">
      <div class="card-body p-4">
        <h6 class="flex-grow-1">日付</h6>
        <div class="d-flex flex-column text-center mt-5 mb-4">
          <h5 class="display-5 mb-0 font-weight-bold" id="time" style="color: #1C2331;"></h5>
          <%# <h5 class="display-7 mb-0" id="date" style="color: #1C2331;"></h5> %>
          <span class="small" style="color: #868B94" id="date"></span>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <i class="fa-regular fa-calendar fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-6 col-xl-4">
    <div class="card shadow-sm mb-3" style="height: 300px;">
      <div class="card-body p-4">
        <h6 class="flex-grow-1">天気情報</h6>
        <div class="d-flex flex-column text-center mt-5 mb-4">
          <h5 class="display-5 mb-0 font-weight-bold" id="current-temperature" style="color: #1C2331;">-°C</h5>
          <span class="small" id="current-weather" style="color: #868B94">-</span>
        </div>
        <div class="d-flex align-items-center">
          <div class="flex-grow-1" style="font-size: 1rem;">
            <div>最高気温： <span class="ms-1" id="max-temperature">-°C</span>
            </div>
            <div>最低気温： <span class="ms-1" id="min-temperature">-°C</span>
            </div>
            <div>降水確率： <span class="ms-1" id="current-rainfall">-%</span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <i class="fa-solid fa-cloud-sun fa-4x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-6 col-xl-4">
    <div class="card shadow-sm mb-3" style="height: 300px;">
      <div class="card-body p-4">
        <h6 class="flex-grow-1">本日の売上</h6>
        <div class="d-flex flex-column text-center mt-5 mb-4">
          <% if @sales_total_amount.present? %>
            <h5 class="display-5 mb-0 font-weight-bold" style="color: #1C2331;"><%= add_comma(@sales_total_amount) %></h5>
          <% else %>
            <h5 class="display-5 mb-0 font-weight-bold" style="color: #1C2331;"><%= "-" %></h5>
          <% end %>
          <span class="small" style="color: #868B94">円</span>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <i class="fa-solid fa-sack-dollar fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @sales_trend.present? %>
  <div class="card shadow-sm mb-3">
    <div class="card-body p-4">
      <h6 class="flex-grow-1">売上推移</h6>
      <p><%= area_chart @sales_trend , suffix: "円", thousands: ",", colors: [make_color] %></p>
    </div>
  </div>
<% end %>
<div id="date"></div>
<div id="time"></div>

