<% content_for :js do %>
  <%= javascript_import_module_tag "static_pages/home" %>
<% end %>
<% if logged_in? %>
  <%= render 'shared/today_aggregate' %>
<% else %>
  <div class="home-content">
    <h1 class="display-3">LiLy</h1>
    <p>売上集計アプリケーションです。</p>
    <div class="background"></div>
  </div>
<% end %>
