<% content_for :js do %>
  <%= javascript_import_module_tag "static_pages/home" %>
<% end %>
<% if logged_in? %>
  <%= render 'shared/today_aggregate' %>
<% else %>
  <div class="background d-flex align-items-center">
    <div class="home-content">
      <h1 class="display-1">LiLy</h1>
      <p>Sales analysis system</p>
    </div>
  </div>
<% end %>
