<tr>
  <td>
    <%= producttype.name %>
  </td>
  <td>
    <%= producttype.created_at.strftime('%Y/%m/%d %H:%M')  %>
  </td>
  <td>
    <div class="d-flex justify-content-end">
      <%= link_to '編集', edit_user_producttype_path(@user, producttype), class: "btn btn-primary btn-xs" %> 
      <%= link_to '削除', user_producttype_path(@user, producttype), 
      data: {turbo_method: :delete, turbo_confirm: '本当によろしいですか？'}, class: "btn btn-danger btn-xs" %>
    </div>
  </td>
</tr>
