<tr>
  <td>
    <%= producttype.name %>
  </td>
  <td>
    <%= l producttype.created_at, format: :long  %>
  </td>
  <td>
    <div class="d-flex justify-content-end">
      <%= link_to edit_user_producttype_path(@user, producttype), data: { turbo: false } do %>
        <i class="fa-solid fa-pen fa-fw"></i>
      <% end %>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <%= link_to user_producttype_path(@user, producttype), data: {turbo_method: :delete, turbo_confirm: '本当によろしいですか？'} do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </td>
</tr>
