<tr>
  <td>
    <%= l producttype.created_at, format: :long  %>
  </td>
  <td>
    <%= producttype.name %>
  </td>
  <td class="ope-td">
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to edit_user_producttype_path(@user, producttype), data: { turbo: false }, class: "btn btn-sm btn-primary" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
      <%= button_to user_producttype_path(@user, producttype), method: :delete, data: { turbo: :false }, class: "btn btn-sm btn-secondary"  do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </td>
</tr>
