<% provide(:title, '商品編集' ) %>
<% provide(:button_text, '商品修正' ) %>
<h1>商品編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form', obj: @producttype %>
  </div>
</div>