<% provide(:title, '商品分類編集' ) %>
<% provide(:button_text, '更新' ) %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to '商品分類マスタ', user_producttypes_path(@user) %></li>
    <li class="breadcrumb-item active" aria-current="page">商品分類編集</li>
  </ol>
</nav>
<%= render 'shared/form', obj: @producttype, form_name: '編集フォーム'  %>