<% content_for :js do %>
  <%= javascript_import_module_tag "producttypes/form" %>
<% end %>
<% provide(:title, '商品分類登録')%>
<% provide(:button_text, '登録')%>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item"><%= link_to '商品分類マスタ', user_producttypes_path(@user), data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">商品分類登録</li>
  </ol>
</nav>
<%= render 'shared/form', obj: @producttype, form_name: '登録フォーム', url: user_producttypes_path(@user) %>