<%= bootstrap_form_with(model: [@user, obj]) do |f| %>
  <div class="row">
    <div class="col">
        <%= f.text_field :name, 
                    control_class: "form-control" %>  
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
        <%# <%= link_to "キャンセル",  user_maker_path(@user), class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>