<div class="panel panel-default">
  <div class="panel-heading">検索条件</div>
    <div class="panel-body">
      <%= search_form_for q, url: url, class: "form-inline", html: { data: { turbo_frame: "cats-list" } } do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.search_field :name_cont, class:"form-control" %>
        </div>
        <%= f.submit '検索',class:"form-control btn btn-primary" %>
      <% end %>
    </div>
</div>