<% if @aggregates_of_maker_producttype.present? %>
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="mb-3">カテゴリ別の売上集計（グラフ）</h5>
        <div class="tabs d-flex align-items-center">
          <a href="#tab1-item" id="tab" class="current">メ×商</a>
          <a href="#tab2-item" id="tab">メ</a>
          <a href="#tab3-item" id="tab">商</a>
        </div>
      </div>
      <div class="tab-items">
        <div id="tab1-item" class="active" >
          <%= column_chart convert_array(@aggregates_of_maker_producttype, "maker_producttype"), suffix: "円", thousands: ",", colors: [make_color("maker_producttype")] %>
        </div>
        <div id="tab2-item">
          <%= column_chart convert_array(@aggregates_of_maker, "maker"), suffix: "円", thousands: ",", colors: [make_color("maker")] %>
        </div>
        <div id="tab3-item">
          <%= column_chart convert_array(@aggregates_of_producttype, "producttype"), suffix: "円", thousands: ",", colors: [make_color("producttype")] %>
        </div>
      </div>
    </div>
  </div>
<% end %>