<% if aggregates.present? %>
  <div class="card mb-3 text-white bg-<%= make_class_name(card_pattern)%>"style="max-height: 350px;">
    <div class="card-body">
      <h5>最も売れた<%= make_title(card_pattern) %></h5>
      <div class="best-sale-content">
        <div class="d-flex flex-column text-center">
          <h5 class="mb-0 font-weight-bold best-sale-name"><%= make_ranking_name(aggregates.first) %></h5>
          <span class="small"><%= add_comma_en(aggregates.first.sum_amount_sold) %></span>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <% if card_pattern == "maker_producttype" %>
          <i class="fa-solid fa-building fa-2x" style="color: #ffffff;"></i>&nbsp;
          <i class="fa-solid fa-bag-shopping fa-2x" style="color: #ffffff;"></i>
        <% elsif card_pattern == "maker" %>
          <i class="fa-solid fa-building fa-2x" style="color: #ffffff;"></i>
        <% elsif card_pattern == "producttype" %>
          <i class="fa-solid fa-bag-shopping fa-2x" style="color: #ffffff;"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>