<% if aggregates.present? %>
  <div class="card shadow-sm mb-3"style="max-height: 350px;">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5>最も売れた<%= make_title(card_pattern) %></h5>
        <div>
          <% if card_pattern == "maker_producttype" %>
            <i class="fa-solid fa-cart-flatbed-suitcase fa-2x" style="color: #003793;"></i>
          <% elsif card_pattern == "maker" %>
            <i class="fa-solid fa-building fa-2x" style="color: #003793;"></i>
          <% elsif card_pattern == "producttype" %>
            <i class="fa-solid fa-bag-shopping fa-2x" style="color: #003793;"></i>
          <% end %>
        </div>
      </div>
      <div class="best-sale-content d-flex flex-column">
        <div class="best-sale-value mb-0 font-weight-bold"><%= add_comma_en(aggregates.first.sum_amount_sold) %></div>
        <span class="best-sale-name small"><%= make_ranking_name(aggregates.first) %></span>
      </div>
    </div>
  </div>
<% end %>