<% if @no_result.present? %>
  <h5 class="mr-2 mb-3 center"><%= @no_result %></h5>
<% else %>
  <% if result = search_result_title(@search_params, period) %>
    <h5 class="mr-2 mb-3 center"><%= result %>の集計結果</h5>
  <% end %>
<% end %>
