<% if @aggregates_of_maker_producttype.present? %>
<div class="card shadow-sm mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="mb-3">カテゴリ別の売上集計（グラフ）</h5>
      <div class="tabs d-flex align-items-center">
        <a href="#tab4-item" id="tab" class="current">メ×商</a>
        <a href="#tab5-item" id="tab">メ</a>
        <a href="#tab6-item" id="tab">商</a>
      </div>
    </div>
    <div class="tab-items">
      <div id="tab4-item" class="active" >
        <%= render 'table', aggregates: @aggregates_of_maker_producttype, card_pattern: "maker_producttype" %>
      </div>
      <div id="tab5-item">
        <%= render 'table', aggregates: @aggregates_of_maker, card_pattern: "maker" %>
      </div>
      <div id="tab6-item">
        <%= render 'table', aggregates: @aggregates_of_producttype, card_pattern: "producttype" %>
      </div>
    </div>
  </div>
</div>
<% end %>