<% if @sales_total_amount.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>合計純売上</h4>
    </div>
    <div class="panel-body">
      <h4><%= add_comma_en(@sales_total_amount) %></h4>
      <span><%= "成長率（前年比較）: #{@sales_growth_rate}"%></span>
    </div>
  </div>
<% end %>
