<% if @sales_total_amount.present? %>
  <div class="card shadow mt-3">
    <div class="card-header">
      合計純売上
    </div>
    <div class="card-body">
      <h4><%= add_comma_en(@sales_total_amount) %></h4>
      <span><%= "成長率（前年比較）: #{@sales_growth_rate}"%></span>
    </div>
  </div>
<% end %>
