<% if @sales_total_amount.present? %>
  <div class="card shadow-sm mb-3" style="max-height: 350px;">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5>合計純売上</h5>
        <div>
          <i class="fa-solid fa-coins fa-2x" style="color: #003793;"></i>
        </div>
      </div>      
      <div class="best-sale-content d-flex flex-column">
        <div class="best-sale-value mb-0 font-weight-bold"><%= add_comma_en(@sales_total_amount) %></div>
        <span class="best-sale-name small"><%= "前年比: #{@sales_growth_rate}"%></span>
      </div>
    </div>
  </div>
<% end %>