<% if @sales_trend.present? %>
  <div class="card mb-3">
    <div class="card-body">
      <h6 class="mb-3"><%= search_result_title(@search_params, "yearly") %>の売上推移</h6>
      <%= area_chart @sales_trend , suffix: "円", thousands: ",", colors: ["#00ffc4"] %>
    </div>
  </div>
<% end %>