<% if @sales_trend.present? %>
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="mb-3">売上推移</h5>
      <%= area_chart @sales_trend , suffix: "円", thousands: ",", colors: ["#003793"] %>
    </div>
  </div>
<% end %>