<% if @sales_trend.present? %>
  <div class="card">
    <div class="card-body">
      <h5 class="mb-3"><%= search_result_title(@search_params, "yearly") %>の売上推移</h5>
      <div class="">
        <%= area_chart @sales_trend , suffix: "円", thousands: ",", colors: ["#00ffc4"] %>
      </div>
    </div>
  </div>
<% end %>