<% if @sales_trend.present? %>
  <div class="card mt-3">
    <div class="card-header">
      売上推移
    </div>
    <div class="card-body">
      <%= line_chart @sales_trend , suffix: "円", thousands: "," %>
    </div>
  </div>
<% end %>