<% if @sales_trend.present? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>売上推移</h4>
    </div>
    <div class="panel-body">
      <%= line_chart @sales_trend , suffix: "円", thousands: "," %>
    </div>
  </div>
<% end %>