<% content_for :js do %>
  <%= javascript_import_module_tag "aggregates/form" %>
<% end %>
<% provide(:title, '日別売上集計') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">日別売上集計</li>
  </ol>
</nav>
<%= render 'shared/error_messages', object: @search_params %>
<%= render 'search_form_card', period: "daily" %>  