@import "bootstrap";
@import "rails_bootstrap_forms";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$black: #000000;
$white: #ffffff;
$deep-bule: rgb(93, 148, 230);
$side-bar-color: #12639c;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 共通部分
html {
  overflow:auto;
}

body {
  padding-top: 50px;
  background-color: #f1f3f6;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 0px;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6 {
  position: relative;
  font-weight: bold;
}

h6:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  content: '';
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.read-text {
  font-size: .8rem;
}


/* ヘッダー */
.logo {
  font-family: 'Caveat', cursive;
}
// ドロップダウン
.dropdown-menu.active {
  display: block;
}


/* メインコンテンツ */
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

// ホーム画面
.background {
  height: calc(100vh - 50px);
  background-image: image-url('lily.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom center;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.home-content {
  padding-left: 2rem;
  margin-bottom: 10rem;
  font-family: 'Caveat', cursive;
}


/* アイコン */
.fa-trash-can {
  color: rgb(255, 82, 82);
}


/* フォーム */
input, textarea, select, .uneditable-input {
  @include box_sizing;
}

#error_explanation {
  color: rgb(255, 0, 0);
  ul {
    color: rgb(255, 0, 0);
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color:  rgb(255, 0, 0);
  }
  display: contents;
}

label.required:after {
  content:" *";
  color: rgb(255, 0, 0);
}

.checkbox {
  margin-top: -10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me ,#user_admin{
  width: auto;
  margin-left: 0;
}

.form_date_select {
	display: inline-block;
	max-width: auto;
}

.form_date_select {
	display: inline-block;
	width: auto;
}
.created-select {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}
// 576px以下でテーブルフォームの線を消す
@media (max-width: 576px) {
	.table-line {
		border:none !important; 
    background-color: transparent !important;
	}
}

// リアルタイムバリデーション
.invalid {
  color: red;
  font-size: 0.8rem;
}


/* サイドバーナビ */
.sidebar {
  display: none;
  background-color: $side-bar-color;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    // padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
    // background-color: #f9f7f8;
    border-right: 1px solid #eee;
  }
  #hyde {
    display: none;
  }
}


/* カードレイアウト設定 */
.card {
  border-radius: 0% !important;
}
.best-sale-content {
  padding: 1.0rem .5rem 0 .5rem;
}

.best-sale-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.best-sale-name:hover {
  white-space: normal;
}

.card-body {
  .nav-link {
    font-size: 0.8rem;
  }
}


/* ransack設定 */
.Editlink {
  text-decoration: none;
  &:link {
    text-decoration: none;
    color: $black;
  }

  &:visited {
    text-decoration: none;
    color: $black;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }

  &:active {
    text-decoration: none;
    color: $black;
  }
}


/* JS系設定 */
// ロードスピナー
#loading {
  transition: all 1s;
  background-color: $white;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}
.spinner {
  width: 100px;
  height: 100px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

// アコーディオン
.acordion {
  color: $white;
  &__ttl {
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s;
    border-bottom: 1px solid $white;
    &:hover {
      background-color: rgb(93, 148, 230);
    }
    &.is-active {
      background-color: rgb(93, 148, 230);
    }
  }
  &__cnt {
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: 0.2s ease height;
    li {
      padding: 20px 20px 20px 50px;
      border-bottom: 1px solid $white;
      &:hover {
        background-color: #1974ad;
      }
      a {
        color: $white;
        display: block;
      }
    }
  }
}


/* デバッグ用 */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
