$primary:       #003793;
$secondary:     #6c757d;
$success:       #198754;
$info:          #12639c;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;
$gray-medium-light: #eaeaea;
$black: #000000;
$white: #ffffff;
$deep-bule: rgb(93, 148, 230);
$side-bar-color: #12639c;
@import "bootstrap";
@import "rails_bootstrap_forms";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 共通部分
html {
  overflow:auto;
}
.btn {
  border-radius: 0;
}
body {
  padding-top: 50px;
  background-color: #f1f3f6;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 0px;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h5 {
  font-size: 0.9rem;
  color:#545454;
  // font-weight: bold;
}

h6 {
  position: relative;
  font-weight:  500;
  display: inline-block;
}

h6:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  content: '';
  background-image: -webkit-gradient(linear, right top, left top, from(#a0fffd), to(#004be0));
  background-image: -webkit-linear-gradient(right, #a0fffd 0%, #004be0 100%);
  background-image: linear-gradient(to left,  #a0fffd 0%, #004be0 100%);
}

.read-text {
  font-size: .8rem;
}


/* ヘッダー */
.logo {
  font-family: 'Caveat', cursive;
}
// ドロップダウン
.dropdown-menu.active {
  display: block;
}


/* メインコンテンツ */
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

// ホーム画面
.background {
  height: calc(100vh - 50px);
  background-image: image-url('lily.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom center;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.home-content {
  padding-left: 2rem;
  margin-bottom: 10rem;
  font-family: 'Caveat', cursive;
}


/* アイコン */
.fa-trash-can {
  color: rgb(255, 82, 82);
}


/* フォーム */
input, textarea, select, .uneditable-input {
  @include box_sizing;
}

#error_explanation {
  color: rgb(255, 0, 0);
  ul {
    color: rgb(255, 0, 0);
    margin-bottom: 0 !important;
  }
}

.field_with_errors {
  .form-control,.form-select-sm {
    color:  rgb(255, 0, 0);
  }
  display: contents;
}

label.required:after {
  content:" *";
  color: rgb(255, 0, 0);
}

.checkbox {
  margin-top: -10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me ,#user_admin{
  width: auto;
  margin-left: 0;
}

.form_date_select {
	display: inline-block;
	max-width: auto;
}

.form-select{
  width: 80px !important;
}

.created-select {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}
// 576px以下でテーブルフォームの線を消す
@media (max-width: 576px) {
	.table-line {
		border:none !important; 
    background-color: transparent !important;
	}
}

// リアルタイムバリデーション
.invalid {
  color: red;
  font-size: 0.8rem;
}


/* サイドバーナビ */
.sidebar {
  display: none;
  background-color: $side-bar-color;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    // padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
    // background-color: #f9f7f8;
    border-right: 1px solid #eee;
  }
  #hyde {
    display: none;
  }
}


/* カードレイアウト設定 */
.card {
  border-radius: 0% !important;
}
.best-sale-content {
  padding: 0 .5rem .5rem .5rem; 
}

.best-sale-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.best-sale-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}

.best-sale-name:hover {
  white-space: normal;
}

.card-body {
  .nav-link {
    font-size: 0.8rem;
  }
}


/* ransack設定 */
.Editlink {
  text-decoration: none;
  &:link {
    text-decoration: none;
    color: $black;
  }

  &:visited {
    text-decoration: none;
    color: $black;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }

  &:active {
    text-decoration: none;
    color: $black;
  }
}


/* JS系設定 */
// ロードスピナー
#loading {
  transition: all 1s;
  background-color: $white;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}
.spinner {
  width: 100px;
  height: 100px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

// アコーディオン
.acordion {
  color: $white;
  &__ttl {
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s;
    border-bottom: 1px solid $white;
    &:hover {
      background-color: $deep-bule;
    }
    &.is-active {
      background-color: $deep-bule;
    }
  }
  &__cnt {
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: 0.2s ease height;
    li {
      padding: 20px 20px 20px 50px;
      border-bottom: 1px solid $white;
      &:hover {
        background-color: #1974ad;
      }
      a {
        color: $white;
        display: block;
      }
    }
  }
}

// タブメニュー
.tabs {
  #tab {
    color: $black;
    font-size: 0.9rem;
    border: 1px solid $black;
    padding: 0 .5rem;
    margin-left: .2rem;
    display: block;
    min-width: 56px;
    text-align: center;
    transition: background-color 0.3s;
    &:hover {
      background-color: #4d4d4d;
      color: $white;
    }
  }
  .current {
    background-color: $black!important;
    color: $white !important;
  }
}
.tab-items {
  #tab1-item, #tab2-item, #tab3-item, #tab4-item, #tab5-item, #tab6-item {
    display: none;
  }
  .active {
    display: block !important;
    animation: appear .5s ease;
  }
}
@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* カレンダー設定 */
.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    margin-bottom: .5rem;
  }

  .today {
    background: #ffffc0;
  }

  .prev-month {
    background: #ddd;
  }

  .next-month {
    background: #ddd;
  }

  .wday-0 {
    color: red; 
  }
  
  .wday-6 {
    color: blue; 
  }

  .event {
    cursor: pointer;
    font-size: 14px;
    background-color: #d5edff;
    &:hover {
      background-color: #a0fffd;
    }
  }
  .holiday {
    font-size: 14px;
    background-color: #ff5f5f;
  }
}
@media (max-width: 1066px) {
  .simple-calendar {
    .event {
      white-space: nowrap;
    }
  }
}


.modal-open {
  padding-right: 0px !important;
}

/* デバッグ用 */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
