<% provide(:title, 'ユーザー編集' ) %>
<% provide(:button_text, 'ユーザー更新' ) %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item"><%= link_to 'ユーザー管理', admin_users_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー編集</li>
  </ol>
</nav>
<%= render 'form', form_name: '編集フォーム', url: admin_users_path(@user) %>