<% content_for :js do %>
  <%= javascript_import_module_tag "users/form" %>
<% end %>
<% provide(:title, "ユーザー登録") %>
<% provide(:button_text, 'ユーザー登録')%>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item"><%= link_to 'ユーザー管理', admin_users_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー登録</li>
  </ol>
</nav>
<%= render 'form', form_name: '登録フォーム', url: admin_users_path(@user) %>