<tr>
  <td>
    <%= l maker.created_at, format: :long  %>
  </td>
  <td>
    <%= maker.name %>
  </td>
  <td class="ope-td">
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to edit_user_maker_path(@user, maker), data: { turbo: false }, class: "btn btn-sm btn-primary" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
      <%= button_to user_maker_path(@user, maker), method: :delete, data: { turbo: :false }, form: { onSubmit: "return check()" }, class: "btn btn-sm btn-secondary" do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </td>
</tr>
