<% provide(:title, 'メーカー登録')%>
<% provide(:button_text, 'メーカー登録')%>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path%></li>
  <li><%= link_to 'メーカーマスタ', user_makers_path(@user) %></li>
  <li class="active">メーカー登録</li>
</ol>
<h1>メーカー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form', obj: @maker %>
  </div>
</div>