<% provide(:title, 'メーカー登録')%>
<% provide(:button_text, '登録')%>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item"><%= link_to 'メーカーマスタ', user_makers_path(@user), data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">メーカー登録</li>
  </ol>
</nav>
<%= render 'shared/form', obj: @maker, form_name: '登録フォーム', url: user_makers_path(@user) %>