<% provide(:title, '売上集計') %>
<% provide(:button_text, '売上修正' ) %>

<h1>売上集計</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>集計結果（メーカー、商品別）</h4>
  </div>
  <div class="panel-body">
    
  </div>
</div>

<%# <p><%= @aggregate_of_maker_producttype[0].maker_name %></p>%>
