<% content_for :js do %>
  <%= javascript_import_module_tag "sales/form" %>
<% end %>
<% provide(:title, '売上登録')%>
<% provide(:button_text, '登録') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path, data: { turbo: false } %></li>
    <li class="breadcrumb-item"><%= link_to '売上一覧', user_sales_path(@user), data: { turbo: false } %></li>
    <li class="breadcrumb-item active" aria-current="page">売上登録</li>
  </ol>
</nav>
<%= render 'form', user: @user, sale: @sale, form_name: '登録フォーム', url: user_sales_path(@user) %>