<footer class="footer">
  <div class="text-center">
    <p>
      <small><%= link_to 'ホーム', root_path, data: { turbo: false } %></small>
    </p>
    <small>&copy;2023 株式会社Lily</small>
  </div>
</footer>