<footer class="footer border-top">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <small><%= link_to 'HOME', root_path, data: { turbo: false } %></small>
    <small>&copy;2023 LILY CORPORATION. ALL RIGHTS RESERVED.</small>
  </div>
</footer>