<footer class="footer">
  <div class="text-center">
    <p>
      <small><%= link_to 'HOME', root_path, data: { turbo: false } %></small>
    </p>
    <small>&copy;2023 LILY CORPORATION. ALL RIGHTS RESERVED.</small>
  </div>
</footer>