<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "せるまね", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "売上一覧",   '#' %></li>
        <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">運用管理 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">商品マスタ</a></li>
						<li><a href="#">メーカーマスタ</a></li>
					</ul>
				</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新規登録",   signup_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
      
    </nav>
    
  </div>
</header>